body {
  margin: 0;
  background-color: rgb(245, 245, 245);

  font-family: inter;
  color: black;
  text-align: justify;
}
ul, li{
list-style: none;
padding: 0;
}

li{
padding-bottom: 25px;
border-left: 2px solid blueviolet;
position: relative;
padding-left: 20px;
margin-left: 10px;
&:last-child{
  border: 0px;
  padding-bottom: 0;
}
&:before{
  content: '';
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid blueviolet;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}
}



