.main-container{
    color: black;
    height: 100vh;
    padding-top: 69px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
    margin: auto;
}
.home-container{
    
}
.about-section{
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.about-card-container{
    flex:1;
}
.about-card{
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(230, 204, 255);
    border: 2px solid gainsboro;
    text-align: center;
}
.card-image-con{
    border-radius: 20px;
    background-color: white;
}
.card-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.card-head h2{
    margin: 0;
}
.cv-btn{
    background-color: blueviolet;
    border: 2px solid blueviolet;
    padding: 10px 25px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
}
.cv-btn:hover{
    background-color: transparent;
    cursor: pointer;
    color: black;
}
.about-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.about-decription-container{
    flex:2;
}
.degree{
    font-weight: bold;
}

.key{
    color: blueviolet;
    font-weight: bold;
}
.attribute{
    background-color: blueviolet;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.attr-value{
    color: blueviolet;
    font-weight: bold;
}

.mail-btn{
    width: 100%;
    padding: 10px;
    outline:none;
    border:2px solid blueviolet;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.mail-btn:hover{
    background-color: transparent;
    color: black;
}

.project-section{
    width: 100%;
}

.skill-title{
    margin: 0;
}
.skill-description{
    margin: 0;
}

@media screen and (max-width:900px){
    .about-section{
        background-color: rebeccapurple;
    }
}


.project-card-container{
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.project-card{
 background-color: rgb(230, 204, 255);
 border: 1px solid gainsboro;
 display: flex;
 padding: 15px;
 border-radius: 15px;
}
.project-card-image-con{
    flex: 1.5;
    text-align: center;
}
.project-card-img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}
.project-card-info{
    flex:2;
    padding-left: 10px;
}
.project-domain{
    margin:0;
}
.project-title{
    margin:0;
}
.project-description{
    margin: 10px 0px;
}
.slide-circle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}
.slide-circle{
    height: 5px;
    width: 5px;
    border-radius: 100%;
    border: 2px solid blueviolet;
    margin: 0px 2px;
}

.slide-circle:first-child{
    background-color: blueviolet;
}

.project-btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p-c-btn{
    flex: 1;
    padding: 7px;
    outline: none;
    background-color: blueviolet;
    border: 2px solid blueviolet;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.p-c-btn:hover{
    background-color: transparent;
    color: black;
}

.p-c-btn:first-child{
    margin-right: 5px;
}

.sitemap-section{
    width: 100%;
    background-color: blueviolet;
    height: 25vh;
}