.component-container{
    background-color: rgb(5, 2, 19);
    color: whitesmoke;
}
.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.intro-image-container{
    width:50%;
    text-align: right;
}
.intro-text-container{
    width: 50%;
    text-align: left;
}

.about{
    
}

.language-skills{

    display:grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    align-items: center;
    gap:1%;
}

.language-skills-item{
    background-color: rgba(25, 25, 46, 0.13);
    text-align: left;
    margin-top: 25px;
    padding:0px 15px;
    border:1px solid rgb(31, 31, 31);
    border-radius: 5px;
    height: 45vh;
}

.l-s-img{
    height: 65px;
    width:65px;
    padding: 5px;
}
.l-s-description{
    padding: 0px;
}
.projects{
    margin: 0 auto;
    background-color: rgba(25, 25, 46, 0.13);
    width: 91%;
    margin-top: 25px;
    border-radius: 5px;
    border:1px solid rgb(31, 31, 31);
}

.project-row{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding:10px 0px;
}

.project-card{
    background-color: rgba(12, 26, 37, 0.598);
    height: 200px;
    border-radius: 5px;
    text-align: left;
    
}

.card-title-section{
   display: grid;
   grid-template-columns: 25% 75%;
   gap: 2.5px;
   background-color: rgba(12, 62, 23, 0.713);
   align-items: center;
   text-align:  left;

}
.project-image{
    width: 65px;
}
.card-description-section{
    padding:0px 10px;
}