.component-container{
    background-color: rgb(5, 2, 19);
    color: whitesmoke;
}
.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.intro-image-container{
    width:50%;
    text-align: right;
}
.intro-text-container{
    width: 50%;
    text-align: left;
}

.about{
    
}

.language-skills{

    display:grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.language-skills-item{
    background-color: rgba(25, 25, 46, 0.13);
    text-align: left;
    margin-top: 50px;
    padding:0px 15px;
    border:1px solid rgb(31, 31, 31);
    border-radius: 5px;
    height: 45vh;
}