.DetailsdisplayOn{
    display: block;
    position:fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 25;
}

.DetailsdisplayOff{
    display: none;
}

.popUpHead{
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popUpContent{
    border-radius: 10px;
    background-color: rgba(31,31,31,1);
    height: 100%;
    padding:20px;
    overflow: scroll;
}

.popUpMainContainer{
    max-width: 1300px;
    padding: 20px;
    margin: auto;
}

.popUpMain{

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.popUpImg{
    flex: 1;
    border-radius: 15px;
}

.popUpContentImg{
    width: 100%;
    border-radius: 15px;
    border: 5px solid rgb(218, 230, 218);
}

.popUpContentDetails{
   flex: 1;
   margin-left:50px;
}


.h1-pw1{

}

.indicator-circle-container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator-circle{
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: rgb(220, 233, 220);
    margin: 10px 3px;
}

.popUp-skills-container{


}

.popUpLastRow{
   display: flex;
   justify-content: space-between;
   text-align: justify;
}